@page "/"

<AuthorizeView>
    <Authorized>

    </Authorized>
    <NotAuthorized>
        <h3>Please Login to use this webiste! Wondering what this website even is? Check our <a href="/about">about</a> page.</h3>
    </NotAuthorized>
</AuthorizeView>
