@page "/templates"

<h3>Templates</h3>

<AuthorizeView>
    <Authorized>
        <EditForm Model="this" class="p-2 d-flex" Context="TemplatesEditContext">
            <h1>Hi</h1>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <h3>Please login to access this page.</h3>
    </NotAuthorized>
</AuthorizeView>
